<template>
  <Layout :show-logo="false">
    <MainHeader />

    <!-- List posts -->
    <div class="posts">
      <PostCard v-for="edge in $page.posts.edges" :key="edge.node.id" :post="edge.node"/>
    </div>

  </Layout>
</template>

<page-query>
query {
  posts: allPost(filter: { published: { eq: true }}) {
    edges {
      node {
        id
        title
        date (format: "MMM D")
        timeToRead
        description
        cover_image
        path
        tags {
          id
          title
          path
        }
      }
    }
  }
}
</page-query>

<script>
import MainHeader from '~/components/MainHeader.vue'
import PostCard from '~/components/PostCard.vue'

export default {
  components: {
    MainHeader,
    PostCard
  },
}
</script>

<style lang="scss">
.posts {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
</style>
