<template>
  <div class="author">
    <h1 class="author__site-title">
      {{ $static.metadata.siteName }}
    </h1>

    <div class="author__intro">
      Remote work topics that nobody talks about by <a href="//twitter.com/clemmakesapps">@ClemMakesApps</a>
      <div class="author__note">Opinions are my own. They do not represent my employer.</div>
    </div>

    <p class="author__links">
      <a href="#">Sign up for the newsletter</a>
    </p>

  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
export default {
  props: ['showTitle']
}
</script>

<style lang="scss">
.author {
  margin: 0 auto;
  max-width: 860px;
  text-align: center;
  padding: calc(var(--space) / 2) 0;

  &__image {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin-bottom: 1em;
  }

  &__intro {
    opacity: .8;
  }

  &__site-title {
    font-size: 1.5em;
  }

  &__links {
    margin-top: -.5em;
    a {
      margin: 0 .5em;
    }
  }

  &__note {
    font-style: italic;
    margin-bottom: 1.5em;
  }
}
</style>
